/* AppHeader.css */
.link-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #151515;
  font-family: 'Inter', sans-serif;
}

.custom-link {
  color: #23282d;
  text-decoration: none;
}

.custom-link:hover {
  transform: translateY(-7%);
  content: '';
  color: #49a760;
  transition: all 0.3s linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.titleSpacing {
  font-size: 2rem;
  color: #255946;
  font-family: Inter;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.subTitleSpacing {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #151515;
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
  margin-bottom: 2px;
}

.titleSpacingYellow {
  font-size: 2.5rem;
  color: #EFB443;
  font-family: Inter;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.subTitleSpacingYellow {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #EFB443;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
  margin-bottom: 2px;
}

.containerBg {
  padding: 30px 0;
  background: #F6F5F2;
}

 @media screen and (max-width: 428px) {
  .titleSpacing {
    font-size: 1.5rem;
  }

  .subTitleSpacing {
    font-size: 1rem;
  }
 }


/* 
hero
---- 
*/
.heroBlock1 {
  background-image: url('./assets/Images/hero1.png');
  background-position: 50% 100%;
  background-size: cover;
  height: 70vh;
  margin-top: 60px;
}

.heroBlock1 .container-fluid {
  display: block !important;
}

.heroBlock1 .ant-carousel,
.heroBlock1 .ant-carousel div {
  height: 100%;
}

.heroBlock1 .slick-dots li.slick-active button {
  background: #1f4e3d !important;
}

.heroBlock1 .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0; 
}

.heroBlock1 h3 {
  color: #f8f8f8;
  font-size: 50px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock1 p {
  color: #f8f8f8;
  font-size: 22px;
  margin: 0 0 30px;
  line-height: 1.9;
}

@media screen and (max-width: 428px){
  .heroBlock1 h3 {
    font-size: 30px;
  }
  
  .heroBlock1 p {
    font-size: 18px;
  }
}


/* Our Story */

 .ourStoryImg {
  width: 100%;
 }

 .ourStoryP {
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 600;
  color: #151515;
  margin: 0  30 0 0;
 }

 .ourStoryh2 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  color: #255946;
  line-height: 2.4rem;
  margin-bottom: 30px;
 }

 .ourStoryP2 {
  font-size: 16px;
  line-height: 2rem;
  font-family: Inter;
  font-weight: 600;
  color: #A90904;
  margin-bottom: 30px;
}

.ourStoryP2 {
  font-size: 16px;
  line-height: 2rem;
  font-family: Inter;
  font-weight: 600;
  color: #A90904;
  margin-bottom: 30px;
}

.ourStoryP3 {
  font-size: 15px;
  line-height: 2.2rem;
  font-family: Inter;
  font-weight: 400;
  color: #6E7673;
  margin-bottom: 30px;
}

.characterSpan {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  color: #49a760;
  text-wrap: nowrap;
}

.connectBtn {
  padding: 30px;
  color: #FFF;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: .5px;
  background-color: #49a760;
  border: 1px solid #49a760;
  margin-top: 30px;
}

@media screen and (max-width: 428px) {
  .ourStoryP {
    font-size: 12px;
  }

  .ourStoryh2 {
    font-size: 30px;
  }

  .characterSpan {
    font-size: 16px;
  }

 }

/* products */

.ant-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.productName {
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  color:#49a760;
}

.productDesc {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  color: #6E7673;
  text-align: center;
  margin-bottom: 2px;
}

/* whyy choose us */
.fa {
 color: #EFB443;
 font-size: 20px;
 margin-right: 20px;
}

.characterName {
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  color: #EFB443;
}

.characterBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.characterDesc {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  color: #6E7673;
  text-align: left;
  margin-bottom: 2px;
}

/* testimonial */

.containerBgGreen {
  padding: 30px 0;
  background: #1F4E3D;
}

.ant-carousel-div {
  display: flex;
  flex-direction: column;
  gap: 80px; 
  justify-content: center;
  align-items: center;
}

.feedbackMessage {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  color: #d9d9d9;
}

.farmerName {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  color: #d9d9d9;
  text-align: center;
}

.farmerLocation {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  color: #d9d9d9;
  letter-spacing: 2px;
  margin-bottom: 50px;
  text-align: center;
}

.fas {
 color: #EFB443;
 font-size: 18px;
}

.fa-bars {
  color:#255946;
  font-size: 22px;
 }

@media only screen and (max-width: 428px) {
  .feedbackMessage {
    font-size: 16px;
  }

  .farmerName {
    font-size: 18px;
  }
}

/* 
footer
------
*/
.ant-layout-footer {
  /* background: #1F4E3D !important; */
  padding: 30px 0 !important;
  /* padding: 0 15px !important, */
}

.tagline {
 color: #6E7673;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
}

.footerHeading {
  color:#151515 ;
  font-size: 18px;
  font-family: Inter;
  font-weight: 700;
 }

 .footerAddress {
  color: #6E7673;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
 }

 .logoTitleStack {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
 }

 .socialStakc {
  display: flex;
  align-items: center;
  gap: 10px;
 }

 div a .fa {
  color: #49a760;
 }

/* 
responsive
----------
*/

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}


.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}


/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.headerLogo {
 height: 55px;
}

@media screen and (screen-width: 428px) {
  .headerLogo {
    height: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
